$primary-color: #2A2F4F;
$secondary-color: #917FB3;
$background: #FDE2F3;
$text-primary: #2A2F4F;
$positive: #4CAF50;
$negative: #FF5252;
$white: #FFFFFF;
$dropdown-animation: cubic-bezier(0.175, 0.885, 0.32, 1.1);

$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15);

$transition-fast: 0.2s ease-in-out;
$transition-medium: 0.3s cubic-bezier(0.4, 0, 0.2, 1);